div{
  width: 500px;
  background-color: beige;
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

footer{
    width: 500px;
    background-color: beige;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

.formulario{
  background-color: aquamarine;
  width: 500px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  

}
.formulario
{ background-color: aquamarine; width: 500px; margin: 0 auto; padding: 0 20px 20px 20px; }
